<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{base :: layout( ~{::title}, ~{::section})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Register</title>
  </head>
  <body>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="card mt-3">
              <div class="card-header text-center">
                <p class="fs-4">Register Here</p>
                <th:block data-th-if="${session.msg}">
                  <p class="text-center text-success fs-4">[[${session.msg}]]</p>
                  <th:block th:text="${@sessionHelper.removeSessionMessage()}"></th:block>
                </th:block>
              </div>
              <div class="card-body">
                <form
                  th:action="@{/submit_register_user}"
                  th:object="${user}"
                  method="post"
                >
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"
                      >Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      name="name"
                      th:field="*{name}"
                    />
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"
                      >Email</label
                    >
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      name="email"
                      data-th-field="*{email}"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"
                      >Password</label
                    >
                    <input
                      type="password"
                      class="form-control"
                      id="exampleInputPassword1"
                      name="password"
                    />
                  </div>
                  <p>
                    Already have an Account
                    <a th:href="@{/loginUser}">Login here</a>
                  </p>
                  <button type="submit" class="btn btn-primary col-md-12">
                    Submit
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
